<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" color="primary" mode="ios" >
      </ion-back-button>
    </ion-buttons>

    <ion-title>Renewable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title class="tittle01">Wind power</ion-card-title>
      <br/>
      <ion-img src="/assets/img-energias/energiaEolica.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content class="ion-padding content02">
      Wind energy is the energy obtained from the wind,
      that is to say, it is the use of the kinetic energy of the air masses.
      <br/><br/>
      <ion-button  fill="outline"  expand="full" shape="round" href="https://es.wikipedia.org/wiki/Energ%C3%ADa_e%C3%B3lica" target="_blank">
        More
      </ion-button>
      
    </ion-card-content>

    
  </ion-card>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title class="tittle01">Solar energy</ion-card-title>
      <br/>
      <ion-img src="/assets/img-energias/energiaSolar.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content class="ion-padding content02">
      It is a renewable energy, obtained from the use of electromagnetic radiation from the Sun.
      The solar radiation that reaches the Earth has been used by humans since ancient times,
      through different technologies that have evolved.
      <br/><br/>
      <ion-button  fill="outline"  expand="full" shape="round" href="https://es.wikipedia.org/wiki/Energ%C3%ADa_solar" target="_blank">
        More
      </ion-button>
      
    </ion-card-content>

    
  </ion-card>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title class="tittle01">Hydraulic or hydroelectric energy</ion-card-title>
      <br/>
      <ion-img src="/assets/img-energias/energiaHidraulica.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content class="ion-padding content02">
      Hydraulic energy, hydro energy or hydro energy is that obtained from the use of kinetic energies and
      potentials of water currents, waterfalls or tides. Can be transformed at different scales
      <br/><br/>
      <ion-button  fill="outline"  expand="full" shape="round" href="https://es.wikipedia.org/wiki/Energ%C3%ADa_hidr%C3%A1ulica" target="_blank">
        More
      </ion-button>
      
    </ion-card-content>

    
  </ion-card>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title class="tittle01">Geothermal energy</ion-card-title>
      <br/>
      <ion-img src="/assets/img-energias/energiaGeotermica.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content class="ion-padding content02">
      Geothermal energy is a renewable energy that is obtained by harnessing the heat from the interior of the Earth
      which is transmitted through hot rock bodies or conduction and
      convection, where groundwater and rocks interact processes, giving rise to geothermal systems.
      <br/><br/>
      <ion-button  fill="outline"  expand="full" shape="round" href="https://es.wikipedia.org/wiki/Energ%C3%ADa_geot%C3%A9rmica" target="_blank">
        More
      </ion-button>
      
    </ion-card-content>

    
  </ion-card>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title class="tittle01">Seawater energy</ion-card-title>
      <br/>
      <ion-img src="/assets/img-energias/energiaMareomotriz.jpeg"></ion-img>
    </ion-card-header>

    <ion-card-content class="ion-padding content02">
      Tidal energy is the energy obtained by taking advantage of the tides:
      By using an alternator the system can be used to generate electricity,
      thus transforming tidal energy into electrical energy, a safer and more profitable form of energy.
      <br/><br/>
      <ion-button  fill="outline"  expand="full" shape="round" href="https://es.wikipedia.org/wiki/Energ%C3%ADa_mareomotriz" target="_blank">
        More
      </ion-button>
      
    </ion-card-content>

    
  </ion-card>


</ion-content>
