<ion-header>  
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" class="color02">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img  src="/assets/dracula.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>

    <ion-title class="color02">Home</ion-title>
  </ion-toolbar>
</ion-header>


  

<ion-content  fullscreen>


  <ion-card  >

    <ion-card-header>
      <ion-img src="/assets/inicio01.gif"></ion-img>
      <br/>
      <ion-card-title  class="tittle01">Renewable energy</ion-card-title>
    </ion-card-header>

    <ion-card-content class=" ion-padding content01">
      The future of humanity and the planet depends on the way we produce energy: an energy system
      reliable, affordable and decarbonized is essential
    </ion-card-content>
    <br/>
    <ion-card-header>
      <ion-card-title  class="tittle01">Increase</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-padding content01"> 
      Renewable energies are clean energy sources,
      inexhaustible and increasingly competitive. They differ from fossil fuels mainly in their diversity,
      abundance and potential for use anywhere on the planet,
      but above all in that they do not produce greenhouse gases. 
     
    </ion-card-content>
    <br/>
    <ion-img src="/assets/grafico01.png"></ion-img>
  </ion-card>

</ion-content>
