.content01{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(179, 174, 174);
}
.tittle01{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(8, 184, 8);   
}
.icon{
    width:45px;
    height:45px;
    align-items: flex-end;
}
.color01{
    background-color: black;
}
.color02{
    color: green;
}
.color03{
    background-color:#222428;

}
.color04{
    color:#222428;
}
